.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  /* CSS cho biểu tượng hộp thư */
.mail-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #001529;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
}

/* CSS cho hộp chat */
.chat-box {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #001529;
  color: white;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-content {
  padding: 10px;
  height: 200px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat-input button {
  background-color: #001529;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
