/* Header.css */
.header-custom {
  background-color: #001529;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu-custom {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
